In [14]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine("postgresql://student:student105@158.193.56.170:5432/Vlastnictvo_parciel")
#engine = "postgres://student:student105@158.193.56.170:5432/postgis_33_sample"

In [16]:
from sqlalchemy import inspect

In [17]:
insp = inspect(engine)
insp.get_table_names()

['spatial_ref_sys',
 'najomnici',
 'osoby',
 'parcely',
 'vlastnictvo',
 'prenajom',
 'obyvatelia']

In [12]:
import pandas as pd

In [18]:
df = pd.read_sql('SELECT * from obyvatelia', engine)
#df = pd.read_sql('SELECT * hranice_kraje_1', engine)

In [7]:
df

   id_obyvatela          meno                    adresa
0           105  Mrkvička Ján    Zelená 4, 976 64 Beňuš
1           107  Veselá Mária    Ružová 5, 976 64 Beňuš
2           209  Rýchly Peter  Tehelná 12, 949 01 Nitra
3           210  Kováčová Eva  Vysoká 13, 010 01 Žilina